.ipynb_checkpoints
/datasets
/saved_models
.vscode/
.idea
.replit
node_modules
__pycache__
env
Tektronix
/training_notebooks/output.txt
params.conf

# distribution things
dist/
Live_Signal_Classifier.egg-info